html {
	background-color: #FFFCA8;
}

body {
	margin: 0px !important;
}

/*Cabeçalho*/

header {
    width: 100%; /*Largura*/
    height: 60px; /*Comprimento*/
    position: fixed; /*Posição*/
    top: 0; /*Topo*/
    background-color: #333; /*Cor de fundo*/
}

.cabeçalho {
    color: #fff;
    width: 100%; /*Largura*/
    height: 40px; /*Comprimento*/
    background-color: #333; /*Cor de fundo*/
    padding: 15px; /*Distância do elemento e a borda*/
    display: flex; /*Traz a flexibilidade de posicionamento de itens de se adequarem a tela*/
    justify-content: space-between; /*Alinhamento de itens em que 'space-between' desloca o primeiro item para o início do eixo principal, o último é deslocado para o final do eixo principal e os demais são distribuídos uniformemente entre eles;*/
    align-items: center; /*Alinhamento de itens no centro*/
}

.logo {
    display: flex; /*Traz a flexibilidade de posicionamento de itens de se adequarem a tela*/
    margin-top: 15px; /*Margem do topo*/
}

.titulo-logo-header {
	color: white; /*cor*/
	border: 10px; /*Borda*/
	padding-left: 10px; /*Espaçameto esquerdo entre o elemento e a borda*/
	margin-top: 10px; /*Margem do topo*/
	text-align: center; /*Alinhamento do texto*/
}

#tordo-logo {
	width: 40px; /*Largura*/
	height: 40px; /*Comprimento*/
}


.topnav {
    overflow: hidden; /*Não deixa o elemento passar do tamanho. O 'hidden' esconde parte de um elemeento para que ele não passe do tamanho determinado*/
    background-color: #333; /*Cor de fundo*/
    float: right; /*Indica que o elemento deve flutuar à direita*/
    margin-right: 15px; /*Margem direita*/
}

.topnav a {
    float: left; /*Indica que o elemento deve flutuar à esquerda*/
    color: #f2f2f2; /*Cor do texto*/
    text-align: center; /*Alinhamento de itens*/
    padding: 14px 16px; /*Distância do elemento até sua borda*/
    text-decoration: none; /*Decoração de texto. O 'none' quer dizer que o texto não terá decoração*/
    font-size: 17px; /*Tamanho da fonte*/
}

.topnav a:hover { /*Aparencia do link quando o cursor passar em cima*/
    background-color: #e0d9d9; /*Cor de fundo*/
    color: black; /*Cor do texto*/
}

.topnav a.active {/*Aparência do link em atividade*/
    background-color: #04AA6D; /*Cor de fundo*/
    color: white; /*Cor do texto*/
}

.topnav-right { /*Lado direito da barra de navegação*/
    float: right; /*Elemento flutua para a direita*/
}

/*Fim do cabeçalho...*/
/*Início do código principal*/

.biblioteca {
	background-image: url("../imagens/biblioteca.jpg"); /*Link da imagem para servir de fundo do texto*/
	background-size: cover; /*Tamanho de fundo. O 'cover' informa ao navegador que ele deve se certificar de que a imagem cobrirá sempre o contêiner inteiro*/
	background-position: center; /*Posição de fundo*/
	width: 1144,5px; /*Largura*/
	height: 400px; /*Comprimento*/
	display: flex; /*Traz a flexibilidade de posicionamento de itens de se adequarem a tela*/
	align-items: center; /*Alinhamento de itens*/
	border: 2px solid black; /*Tamanho da borda*/
	padding: 100px; /*Distância do elemnto até sua borda*/
}   

#texto-centro {	/*Vai centralizar a frase 'sua biblioteca virtual é aqui!'*/
	color: white; /*Cor do texto*/
	font-family: league spartan; /*Fonte*/
	font-size: 90px; /*Tamanho da fonte*/
	margin-left: 300px; /*Margem esquerda*/
}

h1 {
	font-family: league spartan; /*Fonte*/
	text-align: left; /*Alinhamento de itens para a esquerda*/
	margin: 10px; /*Margem*/
	color: black; /*Cor do texto*/
}

div.categoria {
	width: 150px; /*Largura*/
	display: flex; /*Traz a flexibilidade de posicionamento de itens de se adequarem a tela*/
	flex-wrap: nowrap; /*Evita a quebra de linha*/
	display: inline-block; /*Distribuído em linhas*/
	margin-right: 40px; /*Margem direita*/
}

.livro{ /*Define o tamanho dos livros*/
	width: 170px; /*Largura*/
	height: 220px; /*Comprimento*/
	margin-left: 15px; /*Margem esquerda*/
	margin-right: 20px; /*Margem direita*/
	border: 1px solid black; /*Tamanho da borda*/
}

.h1livros { /*Título do livro. Fica embaixo de cada capa*/
	font-family: league spartan; /*Fonte*/
	font-size: 16px; /*Tamanho da fonte*/
	text-align: justify; /*Alinhamento justificado*/
	margin-left: 20px; /*Margem esquerda*/

}

.flecha{
	width: 40px; /*Largura*/
	height: 40px; /*Comprimento*/
	margin-left: 10px; /*Margem esquerda*/
	margin-bottom: 100px; /*Margem abaixo*/
}

.cf:before, /*A classe 'cf' é utilizada para criar um layout de dois elementos lado a lado, no caso, a imagem do livro e o texto da sinopse. Ela é uma abreviação de "clearfix", que é uma técnica utilizada em CSS para resolver problemas de layout relacionados à flutuação de elementos.*/
.cf:after {
	content: " ";
	/* 1 */
	display: table;
	/* 2 */
}

.cf:after {
	clear: both;
}

.cf>div {
	display: table-cell;
	vertical-align: top;
}

.cf {
	zoom: 1;
}

.h2{
	font-family: league spartan; /*Fonte*/
	text-align: left; /*Alinhamento de texto*/
	margin: 10px; /*Margem*/
	color: black; /*Cor do texto*/
}

button{
	width: 90px; /*Largura*/
	height: 40px; /*Comprimento*/
	margin-left: 50px; /*Margem esquerda*/
	background-color: brown; /*Cor de fundo*/
	border-radius: 5px; /*Deixa as pontas do botão arredondadas*/
	font-family: league spartan; /*	Fonte*/
	font-size: 15px; /*Tamanho da fonte*/
	border: 1px solid black; /*Borda*/
	cursor: pointer; /*Aparencia do ponteiro do mouse ao passar pelo botão*/
	box-shadow:inset 2px 2px 2px 0px, 
	7px 7px 20px 0px rgba(0,0,0,.1),
	4px 4px 5px 0px rgba(0,0,0,.1); /*Sombra do botão*/
}

/*Links do botão*/
button a:visited{ /*Links visitados*/
	color: black; /*Cor do texto*/
  	text-decoration: none; /*Decoração de texto*/
}

button a:link{ /*Aparência do link*/
	color: black; /*Cor do texto*/
	text-decoration: none; /*Decoração de texto*/
}

button:hover{ /*Link quando passar por cima*/
	background-color: transparent; /*Aparência de fundo*/
	color: white; /*Cor do texto*/
}

.imagem-categoria{
	width: 50px; /*Largura*/
	height: 70px; /*Comprimento*/
	margin-left: 15px; /*Margem esquerda*/
	margin-right: 20px;; /*Margem direita*/
	border: 1px solid black; /*Borda*/
}

div.ver-mais {
	width: 50px; /*Largura*/
	display: inline-block; /*Display vai sendo colocado em linhas*/
	margin-right: 10px; /*Margem direita*/
}

.cabecalho-final{
	margin-top: 20px; /*Margem de cima*/
	font-size: 15px; /*Tamanho da fonte*/
	width: 1309px; /*Largura*/
	height: 85px; /*Comprimento*/
	background-color: #333; /*Cor de fundo*/
	padding: 20px; /*Espaço entre o elemento e sua borda*/
	font-family: arial; /*Fonte*/
	color: white; /*Cor do texto*/
}

#footer-lado-direito{
	margin-left:  100px; /*Margem esquerda*/
}

#footer-lado-esquerdo{
	margin-left:  90px; /*Margem esquerda*/
}

/*CSS do espaço tab*/

/*espaço tab*/
.tab {
	display: inline-block;
	margin-left: 40px;
}

.tab-container {
	display: flex;
	flex-direction: column;
}

.tab {
	padding: 10px;
	border: none;
	cursor: pointer;
	outline: none;
}

.tab-content {
	display: none;
	padding: 15px;
	border-top: none;
}

#tab1.tab-content,
#tab2.tab-content,
#tab3.tab-content {
	display: block;
}