html {
	background-color: #FFFCA8; /*Cor de fundo do HTML=*/
}

body {
	margin: 0px !important;
}

/*Cabeçalho*/

header {
    width: 100%; /*Largura*/
    height: 60px; /*Comprimento*/
    position: fixed; /*Posição*/
    top: 0; /*Topo*/
    background-color: #333; /*Cor de fundo*/
}

.cabeçalho {
    color: #fff;
    width: 100%; /*Largura*/
    height: 40px; /*Comprimento*/
    background-color: #333; /*Cor de fundo*/
    padding: 15px; /*Distância do elemento e a borda*/
    display: flex; /*Traz a flexibilidade de posicionamento de itens de se adequarem a tela*/
    justify-content: space-between; /*Alinhamento de itens em que 'space-between' desloca o primeiro item para o início do eixo principal, o último é deslocado para o final do eixo principal e os demais são distribuídos uniformemente entre eles;*/
    align-items: center; /*Alinhamento de itens no centro*/
}

.logo {
    display: flex; /*Traz a flexibilidade de posicionamento de itens de se adequarem a tela*/
    margin-top: 15px; /*Margem do topo*/
}

.titulo-logo-header {
	color: white; /*cor*/
	border: 10px; /*Borda*/
	padding-left: 10px; /*Espaçameto esquerdo entre o elemento e a borda*/
	margin-top: 10px; /*Margem do topo*/
	text-align: center; /*Alinhamento do texto*/
}

#tordo-logo {
	width: 40px; /*Largura*/
	height: 40px; /*Comprimento*/
}


.topnav {
    overflow: hidden; /*Não deixa o elemento passar do tamanho. O 'hidden' esconde parte de um elemeento para que ele não passe do tamanho determinado*/
    background-color: #333; /*Cor de fundo*/
    float: right; /*Indica que o elemento deve flutuar à direita*/
    margin-right: 15px; /*Margem direita*/
}

.topnav a {
    float: left; /*Indica que o elemento deve flutuar à esquerda*/
    color: #f2f2f2; /*Cor do texto*/
    text-align: center; /*Alinhamento de itens*/
    padding: 14px 16px; /*Distância do elemento até sua borda*/
    text-decoration: none; /*Decoração de texto. O 'none' quer dizer que o texto não terá decoração*/
    font-size: 17px; /*Tamanho da fonte*/
}

.topnav a:hover { /*Aparencia do link quando o cursor passar em cima*/
    background-color: #e0d9d9; /*Cor de fundo*/
    color: black; /*Cor do texto*/
}

.topnav a.active {/*Aparência do link em atividade*/
    background-color: #04AA6D; /*Cor de fundo*/
    color: white; /*Cor do texto*/
}

.topnav-right { /*Lado direito da barra de navegação*/
    float: right; /*Elemento flutua para a direita*/
}

/*Fim do cabeçalho...*/
/*Início do código principal*/

#campus{
	margin-top: 10px; /*Topo da margem*/
	width: 1343px; /*Largura */
	height: 600px; /*Comprimento*/
	border: 3px solid black; /*Borda*/
}

figcaption{
	font-family: league spartan; /*Fonte*/
	margin-left: 30px; /*Margem esquerda*/
}


h1 {
	font-family: league spartan; /*Fonte*/
	text-align: left; /*Alinhamento de texto*/
	margin: 10px; /*Margem*/
	color: black; /*Cor do texto*/
}

h3{
	margin-left: 20px; /*Margem esquerda*/
	font-family: league Spartan; /*Fonte*/
}

video{
	margin-left: 20px; /*Maregm esquerda*/
	border: 1px solid black; /*Borda*/
}

#texto-sobre-nos{
    margin-left: 20px; /*Margem esquerda*/
	margin-right: 500x; /*Margem direita*/
	font-family: league spartan; /*Fonte*/
	font-size: 23px; /*Tamanho da fonte*/

}

/*espaço tab*/
.tab {
	display: inline-block;
	margin-left: 15px;
}

.cabecalho-final{
	margin-top: 20px; /*Margem de cima*/
	font-size: 15px; /*Tamanho da fonte*/
	width: 1309px; /*Largura*/
	height: 85px; /*Comprimento*/
	background-color: #333; /*Cor de fundo*/
	padding: 20px; /*Espaço entre o elemento e sua borda*/
	font-family: arial; /*Fonte*/
	color: white; /*Cor do texto*/
}

#footer-lado-direito{
	margin-left:  100px; /*Margem esquerda*/
}

#footer-lado-esquerdo{
	margin-left:  90px; /*Margem esquerda*/
}

.cf:before,
.cf:after {/*A classe 'cf' é utilizada para criar um layout de dois elementos lado a lado, no caso, a imagem do livro e o texto da sinopse. Ela é uma abreviação de "clearfix", que é uma técnica utilizada em CSS para resolver problemas de layout relacionados à flutuação de elementos.*/
	content: " ";
	/* 1 */
	display: table;
	/* 2 */
}

.cf:after {
	clear: both;
}

.cf>div {
	display: table-cell;
	vertical-align: top;
}

.cf {
	zoom: 1;
}

.tab-container {
	display: flex;
	flex-direction: column;
}

.tab {
	
	padding: 10px;
	border: none;
	cursor: pointer;
	outline: none;
}

.tab:hover {
	background-color: #ddd;
}

.tab-content {
	display: none;
	padding: 15px;
	border: 1px solid #ccc;
	border-top: none;
}

#tab1.tab-content,
#tab2.tab-content,
#tab3.tab-content {
	display: block;
}